<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EditFacultyController</display-name>
    <servlet-name>EditFacultyController</servlet-name>
    <servlet-class>com.example.controller.EditFacultyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyController</servlet-name>
    <url-pattern>/EditFacultyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFacultyController1</display-name>
    <servlet-name>EditFacultyController1</servlet-name>
    <servlet-class>com.example.controller.EditFacultyController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyController1</servlet-name>
    <url-pattern>/EditFacultyController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDeleteController</display-name>
    <servlet-name>FacultyDeleteController</servlet-name>
    <servlet-class>com.example.controller.FacultyDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDeleteController</servlet-name>
    <url-pattern>/FacultyDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteController</display-name>
    <servlet-name>StudentDeleteController</servlet-name>
    <servlet-class>com.example.controller.StudentDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteController</servlet-name>
    <url-pattern>/StudentDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditController</display-name>
    <servlet-name>StudentEditController</servlet-name>
    <servlet-class>com.example.controller.StudentEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditController</servlet-name>
    <url-pattern>/StudentEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditController1</display-name>
    <servlet-name>StudentEditController1</servlet-name>
    <servlet-class>com.example.controller.StudentEditController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditController1</servlet-name>
    <url-pattern>/StudentEditController1</url-pattern>
  </servlet-mapping>
</web-app>